
.taschenrechner {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    margin-top: 100px;
}

.quizinput {
    border-radius: 10px;
    position: relative;
    border-color: #a855f7;
    padding: 5px; 
    margin-top: 2px;
    margin-bottom: 10px; 
}

.zahl1 .zahl2 {
    position: relative;
    bottom: auto; 
    font-size: 18px; 
    text-align: center; 
}

select {
    width: 190px !important;  
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #a855f7 !important; 
    border-color: #a855f7 !important; 
}

.btn-primary:hover {
    background-color: #7c3aed !important; 
    border-color: #7c3aed !important; 
}
